*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./wi.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.input-group{
    margin-top: 150px;
}