@mixin size($w, $h){
    width: $w;
    height: $h;
}

@mixin d-flex($f, $just, $direct, $align, $wr, $gap){
    display: $f;
    justify-content: $just;
    flex-direction: $direct;
    align-items: $align;
    flex-wrap: $wr;
    gap: $gap;
}